@page "{roleId}"
@model Penlog.Pages.Admin.Roles.EditModel

<nav class="bg-light p-0 rounded" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="../Index">Admin</a></li>
        <li class="breadcrumb-item"><a asp-page="../Roles/Index">Roles</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Role.Name</li>
    </ol>
</nav>
<h5>Updating '@Model.Role.Name'</h5>
<form method="post" class="w-25 ">
    <div class="input-group">
        <input asp-for="Role.Name" class="form-control" placeholder="Role name" aria-describedby="update-role-addon">
        <button class="btn btn-primary rounded-end" type="submit" id="update-role-addon">Update</button>
        <span asp-validation-for="Role.Name" class="text-danger"></span>
    </div>
</form>
