@page
@using Microsoft.AspNetCore.Identity;
@using Penlog.Entities;
@inject UserManager<AppUser> userManger
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">
        <div class="col-9">
            @foreach (var post in Model.Posts)
            {
                <div class="row mt-3">
                    @await Component.InvokeAsync("Post", new { postId = post.Id })
                </div>
            }
        </div>
        <div class="col-3">
        </div>
    </div>
</div>
