@page "{searchString?}"
@model Penlog.Pages.SearchModel
<div class="container">
    <h3 class="text-secondary">Browse posts, categories, users</h3>
    @if (!string.IsNullOrEmpty(Model.SearchString))
    {
        if (Model.Posts.Count() != 0)
        {
            <div class="row mt-3">
                <h3>Posts</h3>
                <div class="container px-0">
                    <div class="col-9 mx-0">
                        @foreach (var post in Model.Posts)
                        {
                            <div class="row">
                                @await Component.InvokeAsync("Post", new { postId = post.Id })
                            </div>
                        }
                    </div>
                    <div class="col-3">
                    </div>
                </div>
            </div>
        }
        if (Model.Categories.Count() != 0)
        {
            <div class="row mt-3">
                <h3>Categories</h3>
                @foreach (var category in Model.Categories)
                {
                    <a href="Category/@category.Id" class="text-decoration-none">
                        <h5>@category.Title</h5>
                    </a>
                }
            </div>
        }
    }
</div>