@page "{id}"
@model Penlog.Pages.Admin.Categories.EditModel
<h1>Editing @Model.Category.Title</h1>

<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="titleInput" class="form-label">Title: </label>
        <input asp-for="Category.Title" type="text" class="form-control form-control-lg" id="titleInput">
        <span asp-validation-for="Category.Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="descriptionInput" class="form-label">Description: </label>
        <textarea asp-for="Category.Description" class="form-control" id="descriptionInput" rows="15">
     </textarea>
        <span asp-validation-for="Category.Description" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary" asp-page-handler="Add">Update</button>
</form>