@page
@model Penlog.Pages.Admin.IndexModel

<ul class="list-group">
    <li class="list-group-item">
        <a asp-page="/Admin/Roles/Index" asp-area="">Roles</a>
    </li>
    <li class="list-group-item">
        <a asp-page="/Admin/Users/Index" asp-area="">Users</a>
    </li>
    <li class="list-group-item">
        <a asp-page="/Admin/Categories/Index" asp-area="">Categories</a>
    </li>
</ul>
