@page
@model Penlog.Web.Pages.Admin.IndexModel

<ul class="list-group">
    <li class="my-1">
        <a asp-page="/Admin/Roles/Index" asp-area="" class="btn btn-dark">Roles</a>
    </li>
    <li class="my-1">
        <a asp-page="/Admin/Users/Index" asp-area="" class="btn btn-dark">Users</a>
    </li>
</ul>
