@model Penlog.Model.Entities.Like
@inject Microsoft.AspNetCore.Identity.UserManager<Penlog.Model.Entities.AppUser> UserManager
@inject Penlog.Data.Repository.IRepository.IUnitOfWork unit
@{
    var user = UserManager.GetUserAsync(User).Result;
    var like = unit.Likes.Find(l => l.UserId == user.Id && l.PostId == Model.PostId).FirstOrDefault();
}

<form id="likeForm" method="post" class="d-inline">
    <button id="likeImg" type="submit" asp-page-handler="Like" asp-route-postId="@Model.PostId" class="btn p-1">
        @if (like == null)
        {
            <img src="~/icons/heart.svg" />
        }
        else
        {
            <img src="~/icons/heart-fill.svg" />
        }
    </button>
</form>
