@page "{authorId}"
@model Penlog.Pages.Users.EditBiographyModel
@{
}
<form method="post">
    <textarea class="form-control" asp-for="Biography"></textarea>
    <br />
    <button class="btn btn-primary" type="submit">Update Biography</button>
</form>