@page "{roleId}"
@model Penlog.Web.Pages.Admin.Roles.EditModel

<form method="post">
    <input asp-for="RoleName" class="form-control w-50 d-inline" />
    <button type="submit" class="btn btn-primary d-inline">Update</button>
</form>
